.test {
  color: hotpink;
  font-size: 1.5em;
}

button {
  /* color: hotpink;
  padding: 6px 12px;
  border-radius: 3px;
  font-size: 16px; */
  margin: 6px;
  font-size: 16px;
  line-height: 1.75;
  box-sizing: 'border-box';
  min-width: 64px;
  padding: 6px 16px;
  border-radius: 4px;
  color: cyan; /*theme.palette.text.primary*/;
}

button:hover {
  text-decoration: none;
  background-color: darkseagreen;
}

button:hover .disabled{
  background-color: transparent;
}

button .disabled {
  background-color: bisque;
}

button.contained {
  color: white;
  background-color: navy;
  /* boxShadow: theme.shadows[2],
  '&$focusVisible': {
    boxShadow: theme.shadows[6],
  },
  '&:active': {
    boxShadow: theme.shadows[8],
  },
  '&$disabled': {
    color: theme.palette.action.disabled,
    boxShadow: theme.shadows[0],
    backgroundColor: theme.palette.action.disabledBackground,
  },
  '&:hover': {
    backgroundColor: theme.palette.grey.A100,
    // Reset on touch devices, it doesn't add specificity
    '@media (hover: none)': {
      backgroundColor: theme.palette.grey[300],
    },
    '&$disabled': {
      backgroundColor: theme.palette.action.disabledBackground,
    },
  }, */
}

button.contained:hover {
  color: white;
  background-color: cornflowerblue;
}